@using MealsService.Responses.Schedules
@using MealsService.Schedules.Dtos
@{
    Layout = "Email/_TransactionalLayout";

    ScheduleRecipeContainer container = Model;
}
<div style="margin: 0 0 20px; background-color: #efefef; padding: 20px 15px; border-radius: 5px; border-bottom-right-radius: 0; border-bottom-left-radius: 0">
    <a href="https://www.instagram.com/p/BxC7YSXAdZl/" style='text-decoration: none'>
        <div>
            <img src="https://www.greenerplate.com/images/emails/did_you_know.png" style="width: 90%; max-width: 275px;"/>
        </div>
        <div style="padding-top: 10px; font-size: 20px; color: #353">Just one plant-based meal this week can save 1200 gallons of water?</div>
    </a>
</div>
<div>
    <a style="text-decoration: none;" href="https://www.greenerplate.com/schedule/week/@(container.Schedule[0].Date.ToString("yyyy-MM-dd"))">
        <img src="https://www.greenerplate.com/images/emails/this_weeks_menu.png" style="width: 90%; max-width: 275px;"/>
    </a>
</div>
<div style="text-align: center; padding: 0 10px;">
    @foreach (ScheduleDayDto day in container.Schedule)
    {
        if (day.Meals != null && day.Meals.Any())
        {
            <a style="text-decoration: none; border: 0; color: #0a0a0a;" href="https://www.greenerplate.com/schedule/week/@(container.Schedule[0].Date.ToString("yyyy-MM-dd"))/@(day.Date.DayOfWeek.ToString().ToLower())">
                @*<div style="color: #0a0a0a; font-weight: bold; font-size: 1.1em; padding-top: 10px">
                    @day.Date.DayOfWeek.ToString()
                </div>*@

                @foreach (MealDto meal in day.Meals)
                {
                    if (meal.RecipeId != 0 && !meal.IsLeftovers)
                    {
                        <div style="padding-top: 15px; padding-bottom: 10px;">@(container.Recipes[meal.RecipeId].Name)</div>
                        <img src="@(container.Recipes[meal.RecipeId].Image)" width="90%" />
                    }
                    else
                    {
                        <div style="padding-bottom: 10px;">Leftovers from @meal.Preparation.Date.DayOfWeek.ToString() for @meal.MealType</div>
                    }
                }
            </a>
        }
    }
</div>
<div style="padding: 20px 0 20px;">
    <a style="text-decoration: none; color: #0a0a0a;" href="https://www.greenerplate.com/shopping_list/week/@(container.Schedule[0].Date.ToString("yyyy-MM-dd"))">
        <div>
            <img src="https://www.greenerplate.com/images/emails/your_shopping_list.png" style="width: 90%; max-width: 275px;" />
        </div>
        <div style="padding-bottom: 10px;">
            @for (int i = 0; i < container.Recipes[container.Schedule[0].Meals[0].RecipeId].Ingredients.Count; i++)
            {
                var ingredient = container.Recipes[container.Schedule[0].Meals[0].RecipeId].Ingredients[i];

                if (i > 2)
                {
                    break;
                }
                
                <span>@(ingredient.Name + ",")</span>
            }
            and a few other things.
        </div>
        Check your pantry or fridge. <br />
        Then, get your shopping out of the way early.<br />
    </a>
</div>